<div class="container login">
  <div class="row mt-4">
    <div class="col col-6 offset-3">
      <form (ngSubmit)="$event.preventDefault(); handleSubmit(f)" #f="ngForm">
        <div class="my-3">
          <div class="my-3">
            <input
              name="email"
              id="email"
              ngModel
              class="form-control"
              type="email"
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <input
              name="password"
              id="password"
              ngModel
              class="form-control"
              type="password"
              placeholder="Password"
            />
          </div>
          <button class="btn btn-primary w-100" type="submit">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
